@import "variables";

.catalog{
    background-color: $light-70;
    .catalog-title{
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        color: $dark-70;
        h2{}
    }
    .catalog-content{
        padding: 20px 0 90px 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
        .catalog-item{
            background-color: white;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 40px 0;
            transition: 0.3s ease;
            &:hover{
                box-shadow: 0px 15px 25px rgba(48, 63, 115, 0.15);
                color: $primary-70;
            }
            div{
                img{
                    margin-bottom: 15px;
                }
                p{
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .catalog{
        .catalog-content{
            grid-template-columns: auto auto auto;
        }
    }
}
@media only screen and (max-width: 768px){
    .catalog{
        .catalog-content{
            grid-template-columns: auto auto ;
        }
    }
}
@media only screen and (max-width: 480px){
    .catalog{
        .catalog-title{
            font-size: 28px;
            line-height: 34px;
            h2{}
        }
        .catalog-content{
            grid-template-columns: auto auto;
            .catalog-item{
            }
        }
    }
}