@import "variables";

.navigation-menu {
    background-color: $primary-70;

    .menu-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .menu-item {
            button {
                color: white;
                padding: 17px 33px;
                box-shadow: none !important;
                background-color: $primary-100;
            }

            .dropdown-menu {
                position: absolute !important;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;

                .left-menu {
                    background-color: $dark-100;
                    padding: 20px 0;
                    max-width: 280px;
                    margin: 0;

                    li {
                        padding: 0 25px 0 30px;
                        display: flex;

                        transition: all .3 ease;
                        justify-content: space-between;
                        cursor: pointer;

                        span {
                            transition: all 1.3s ease;
                            color: white;
                            font-size: 15px;
                            line-height: 34px;
                        }
                    }

                    li:hover {
                        color: red;
                        background: linear-gradient(90deg, #1D1E22 0%, #0A4ECB 103.7%);
                    }
                }
            }

            a {
                color: white;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;

            }

            .warning-item {
                color: $warning-100;
            }
        }
    }
}