$primary-100: #04358F;
$primary-70: #0A4ECB;
$primary-50: #4788FF;
$danger-100: #F04716;
$warning-100: #FFC62F;
$warning-100: #FFFA2F;

$dark-100: #1D1E22;
$dark-70: #36383F;
$dark-50: #6E7284;
$dark-25: #A3A6B2;

$light-50:#DEDFE7;
$light-70: #F4F5F8;
$light-100: #fff;

$liner-orange:linear-gradient(90deg, #F04716 0%, #FFC62F 100%);
$liner-blue:linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%);
$liner-blue-to-red: linear-gradient(90deg, #0A4ECB 0%, #803482 50%, #F04716 100%); 